@page
@using QLL.DTO
@using System.Text.Json
@Html.AntiForgeryToken()
@model QuanLyLop2_ASP.NETCore.Pages.GiaoVienModel
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
   var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
<script type="text/javascript">
    var dataGV = @Html.Raw(JsonSerializer.Serialize(Model.lstGV));
</script>
<div class="text-center">
    <h1 class="display-4">Lớp</h1>
    <p>Danh sách giáo viên.</p>
    <button type="button" onclick="openModalGV(null);" class="btn btn-outline-primary btn-sm">Thêm giáo viên</button>
    <table id="tableGV"class="table table-striped">
        <tr>
            <th>Mã Giáo viên</th>
            <th>Tên Giáo viên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Đia chỉ</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>Chuyên Ngành</th>
            <th>Trình độ</th>
            <th>Action</th>
        </tr>
        @foreach (GiaoVienDTO hs in Model.lstGV)
        {
            <tr id="trGV_@hs.MaGv">
                <td>@hs.MaGv</td>
                <td>@hs.TenGv</td>
                <td>@hs.GioiTinh</td>
                <td>@hs.NgaySinh</td>
                <td>@hs.DiaChi</td>
                <td>@hs.Sdt</td>
                <td>@hs.Email</td>
                <td>@hs.ChuyenNganh</td>
                <td>@hs.TrinhDoChuyenMon</td>
                <td>
                    <button type="button" onclick="openModalGV('@hs.MaGv');" class="btn btn-outline-primary btn-sm">Sửa</button>
                    <button type="button" onclick="deleteGV('@hs.MaGv');" class="btn btn-outline-danger btn-sm">xoá</button>
                </td>
            </tr>
        }
    </table>
</div>
<div id ="DivModalGV" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sửa giáo viên: <span id="MaGV"></span></h5>
        <button type="button" class="close" data-dismiss="modal" onclick="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="txtMaGV">Mã giáo viên</label>
            <input type="text" class="form-control" id="txtMaGV" aria-describedby="MaGVHelp" placeholder="Mã Giáo viên: gv...">
            <small id="MaGVHelp" class="form-text text-muted">Không được bỏ trống, 5 kí tự.</small>
        </div>
        <div class="form-group">
            <label for="txtTenGV">Tên giáo viên</label>
            <input type="text" class="form-control" id="txtTenGV" aria-describedby="TenGVHelp" placeholder="Tên giáo viên">
            <small id="TenGVHelp" class="form-text text-muted">Không được bỏ trống.</small>
        </div>
        <div class="form-group">
            <label for="txtNS">Ngày sinh</label>
            <input type="date" class="form-control" id="txtNS" value="2000-01-01"
                 aria-describedby="NSHelp">
            <small id="NSHelp" class="form-text text-muted">Không được bỏ trống.</small>
        </div>
        <div class="form-group">
            <label for="selGT">Giới tính</label>
            <select class="form-control" id="selGT">
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="txtDiaChi">Địa chỉ</label>
            <input type="text" class="form-control" id="txtDiaChi" aria-describedby="DiaChiHelp" placeholder="Địa chỉ">
            <small id="DiaChiHelp" class="form-text text-muted">Không được bỏ trống.</small>
        </div>
        <div class="form-group">
            <label for="txtSDT">Số điện thoại</label>
            <input type="text" class="form-control" id="txtSDT" aria-describedby="SDTlHelp" placeholder="Số điện thoại">
            <small id="SDTHelp" class="form-text text-muted">Không được bỏ trống.</small>
        </div>
        <div class="form-group">
            <label for="txtEmail">Email</label>
            <input type="email" class="form-control" id="txtEmail" aria-describedby="DiaChiHelp" placeholder="Địa chỉ email">
            <small id="EmailHelp" class="form-text text-muted">Không được bỏ trống.</small>
        </div>
        <div class="form-group">
            <label for="txtCN">Chuyên ngành</label>
            <input type="text" class="form-control" id="txtCN" aria-describedby="CNHelp" placeholder="Chuyên ngành">
            <small id="CNlHelp" class="form-text text-muted">Không được bỏ trống.</small>
        </div>
        <div class="form-group">
            <label for="txtTDCM">Trình độ chuyên môn</label>
            <input type="text" class="form-control" id="txtTDCM" aria-describedby="TDCMHelp" placeholder="Trình độ chuyên môn">
            <small id="TDCMlHelp" class="form-text text-muted">Không được bỏ trống.</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeModal()" data-dismiss="modal">Close</button>
        <button type="button" onclick="saveGV()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
